	main{
		main {
			position: relative;
			min-height: 100vh;
		  }
		
		main div{
			padding-bottom: 90px;
		}
		h1{
			font-family: NeueMachina-Ultrabold;
			font-size:40px;
			margin-top:20px;
			margin-bottom:40px;

				& a{
				color: #222220;
				text-decoration: underline;

				&:hover{
					color: #222220;
					-webkit-filter: blur(2px);
	  				filter: blur(2px);

					}
				}
		}

		p{
		font-family: acumin-pro, sans-serif;
		font-weight: 100;
		margin-top:50px;
		}
	}